<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Memepedia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>102D84C41D930BEC00C446DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>102D84DB1D930BED00C446DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>102D84E61D930BED00C446DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
